!!! 5
html
  head
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    title <%= elementName %> Demo
    script(src='../webcomponentsjs/webcomponents.min.js')
    link(rel='import', href='<%= elementName %>.html')

  body
    p An `<%= elementName %>` looks like this:
      <%= elementName %>
