<script>
  i18n.addResourceBundle(
    'es-ES', 'translation', {
        'Savings and Investment': 'Ahorro e Inversión',
        'Total Amount': 'Importe Total'
  });

  i18n.addResourceBundle(
    'ca-ES', 'translation', {
        'Savings and Investment': 'Estalvi i Inversió',
        'Total Amount': 'Import Total'
  });

  i18n.addResourceBundle(
    'eu-ES', 'translation', {
        'Savings and Investment': 'Aurrezteko eta Inbertitzea',
        'Total Amount': 'Importe Guztira'
  });

  i18n.addResourceBundle(
    'gl-ES', 'translation', {
        'Savings and Investment': 'Aforrar e investir',
        'Total Amount': 'Importe Total'
  });
</script>