<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="<%= elementName %>" attributes="">
  <template><% if (!externalStyle) { %>
    <style>
      :host {
        display: block;
      }
    </style><% } else { %>
    <link rel="stylesheet" href="<%= elementName %>.css"><% } %>
    <h1>This is <%= elementName %> element</h1>
  </template><% if (!externalStyle) { %>
  <script>
    (function () {

      Polymer({
        // define element prototype here
      });

    })();
  </script><% } else { %>
  <link rel='stylesheet' href='<%= elementName %>.css'><% } %>
</polymer-element>
