link(rel='import', href='../../../bower_components/polymer/polymer.html')

polymer-element(name='<%= elementName %>')
  template
  	<% if (!externalStyle) { %>
  	style
      :host {
        display: block;
      }
    <% } else { %>
      link(rel='stylesheet', href='<%= elementName %>.css')
    <% } %>      
    h1 This is <%= elementName %> element
  <% if (!externalJS) { %>
  script
    (function () {
      Polymer({
        // define element prototype here
      });

    })();
  <% } else { %>
  script(src="<%= elementName %>.js")
  <% } %>    
